.cartContainer{
  width:100%;
  height: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  margin:  auto;
  font-family: "Acme";
}
.cartItems{
  display: flex;
  width: 100%;
  height: 150px;
  max-width: 400px;
  align-items: center;
  justify-content: space-around;
  box-shadow: inset 0 2px 9px rgb(201, 200, 200);
  margin-top: 2rem;
  border-radius: 4px;
  background: white;
}

@media (min-width:786px){
  .cartItems{
    max-width: 700px;
  }
}

.cartClose{
  color: rgb(20, 19, 19);
  font-size: 1.6rem;
  cursor: pointer;
  text-align: center;
  
}

.cartItemImg img{
  width: 70px;
  height: 70px;
}


.cartInfo{
  max-width: 150px;
  display: flex;
  flex-direction: column;
}
@media(min-width:786px){
  .cartInfo{
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  .cartItemImg  img{
    width: 95px;
    height: 95px;
  }
}

.cartInfo p{
  margin-top: 0.5rem;
}

.cartBtns{
  display: flex;
  align-items: center;
  justify-content: space space-evenly;
}

.cartBtns button{
  border: none;
  outline: none;
  background: black;
  color: white;
  padding:4px 8px;
  border-radius: 5px;
  cursor: pointer;
}
