.contact-container{
  width: 100%;
  text-align: center;
  font-family:"Acme"
}

.contact-container h2{
  margin: 2rem;
  font-size: 2.5rem;
}

form{
  width: 80%;
  max-width: 400px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 2px solid rgb(150, 150, 150);
  border-radius: 4px;
  box-shadow: inset 2px 2px 6px rgb(160, 160, 160),inset -2px -2px 6px rgb(160, 160, 160);
}

form label{
  font-size: 1.5rem;
}

form input{
  width: 250px;
  height: 35px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  background: rgb(219, 217, 217);
  padding: 12px;
  font-family: "Acme";
  font-size: 1.1rem;
}



input[type=text] {
 padding: 12px;
 background: rgb(224, 223, 223);
 font-family: "Acme";
}


input::placeholder{
  font-family: "Acme";
  font-size: 1rem;
  color: black;

}

.form-group{
  /* border: 2px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;

}

textarea {
  width: 250px;
  height: 150px;
  padding: 12px 12px;
  border: none;
  box-sizing: border-box;
  border-bottom: 3px solid rgb(15, 15, 15);
  border-radius: 4px;
  background-color:rgb(224, 223, 223);
  resize: none;
  outline: none;
  font-family: "Acme";
  font-size: 1.1rem;
  color: black;
}

.input-btn{
  font-family: "Acme";
  font-size: 1.2rem;
  padding: 5px 18px;
  cursor: pointer;
}

.input-btn{
  background: black;
  color: white;
  outline: none;
  border-radius: 4px;
}